body {
	background-color: #282828;
	padding: 3rem;
}

.toolbar {
	text-align: center;
}




.btn {
	padding: 1rem 2rem;
	background-color: transparent;
	color: #fff;
	border: 0;
	
	transition: all 200ms ease;
}
.btn:focus {
	outline: none;
}
.btn:active {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

.btn-blue {
	background-color: #005db9;
}
.btn-red {
	background-color: #ad0052;
}
.btn-green {
	background-color: #00947e;
}